body {
  background-color: #f9f8fe;
}

.main-request-container {
  width: 100%;
  display: flex;
  margin: 80px;
  gap: 20px;
  align-items: flex-start;
}

.status-container {
  background-color: white;
  border-radius: 5px;
  width: 100vh;
  padding: 20px;
}

.status-container h3, h4, span {
  display: inline-block;
  padding: 10px;
  font-size: 14px;
}

.status-container p {
  padding: 10px;
  font-size: 12px;
}

.status-container-header {
  display: flex;
  justify-content: space-between;
}
